body {
    background-image: linear-gradient(-225deg, rgba(0, 101, 168, 0.6) 0%, rgba(217, 154, 154, 0.6) 50%), url("../assets/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
}

.App {
    text-align: center;
}

.App h1 {
    font-size: 50px;
}

input {
    text-align: center;
    background-color: transparent;
    color: #fff;
    text-shadow: 5px 5px 10px #000;
    height: 25px;
    font-size: 25px;
    height: 30px;
    width: 200px;
    border: none;
    border-bottom: 2px solid rgb(32, 200, 241);
    margin-right: 20px;
}

button {
    height: 40px;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.54);
    color: #fff;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(32, 200, 241, 0.5);
    color: #ffffff;
    transition: 0.5s;
}

.Display {
    margin: 50px 0;
}

.List {
    margin: auto;
    width: 80%;
    height: 400px;
    overflow: auto;
}

.List li {
    list-style: none;
}

.List .station {
    background: #fff;
    font-size: 13px;
    border-radius: 10px;
    width: 300px;
    padding: 20px 0;
    margin: 10px;
    display: inline-block;
}

.description {
    width: 50%;
    height: 50%;
}